header{
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 75px;
    height: 100px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 1.5;
    
}

.h1-banner-title{
    background-color: #02299e;
    color: white;
    padding: 14px 18px;
    margin-top: 20px;
    overflow-x: auto;
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    
    
}

table.table-bordered{
    overflow-wrap: anywhere;
}

article table{
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px ;
}

ol{
    letter-spacing: 2px;
    line-height: 1.5;
}

#footer{
    background-color: #f6cefc;

}

#para{
    color: grey;
}

#div1{
    height: 50px;
    width:50px;
    font-size: larger;
}

button{
    background: linear-gradient(165.23deg, #8d6aff 10.43%, #02299e 68.35%);
    color: white;
    

}



